//字体
.nav-title
  font-size: 17px;
  color: #000000
  padding: 33px 0 13px 15px
  background-color: #fff
.bold
  font-weight:550
img
  width:100%
//按钮样式
.btn1
  font-family: PingFangSC-Regular
  background-color: #0E948A
  border: 1px solid #05726A
  border-radius: 4px
  height:52px
  font-size: 16px
  color: #FFFFFF
//礼物图标
.icon-gift
  vertical-align: middle
  margin-right: 3px
  background: url('~images/icon_gift.png')
  width:18px
  height: 18px
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-cancel
  width:15px
  height:15px
  background: url('~images/icon_cancel.png')
  -webkit-background-size: cover
  background-size: cover
.icon-search
  width:21px
  height:21px
  background: url('~images/icon_search.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-member
  width:19px
  height:16px
  background: url('~images/icon_member.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-notice
  width:20px
  height:20px
  background: url('~images/icon_notice.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-card
  width:20px
  height:20px
  background: url('~images/icon_card.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-arrow
  width:6px
  height:12px
  background: url('~images/icon_arrow.png')
  display: inline-block
  -webkit-background-size: cover
  background-size:cover
.icon-arrow-left
  width:6px
  height:12px
  background: url('~images/icon_arrow.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
  transform: rotate(180deg)
  margin-right:15px
.icon-arrow-yellow
  width:4px
  height:7px
  background: url('~images/icon_arrow_yellow.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-vip-yellow
  width:12px
  height:10px
  background: url('~images/icon_vip_yellow.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-list1
  width:19px
  height:19px
  background: url('~images/icon_list1.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-list2
  width:19px
  height:19px
  background: url('~images/icon_list2.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-list3
  width:19px
  height:19px
  background: url('~images/icon_list3.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-list4
  width:19px
  height:19px
  background: url('~images/icon_list4.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-list5
  width:19px
  height:19px
  background: url('~images/icon_list5.png')
  display: inline-block
  -webkit-background-size: cover
  background-size: cover
.icon-used
  width: 60px
  height: 50px
  display: inline-block
  background: url('~images/icon_used.png')
  -webkit-background-size: cover
  background-size: cover
.icon-add-white
  width: 12px
  height: 12px
  display: inline-block
  background: url('~images/icon_add_white.png')
  -webkit-background-size: cover
  background-size: cover
.icon-close
  width: 15px
  height: 15px
  display: inline-block
  background: url('~images/icon_close.png')
  -webkit-background-size: cover
  background-size: cover
.icon-address
  width: 100%
  height: 3px
  display: inline-block
  background: url('~images/icon_address.png')
  -webkit-background-size: cover
  background-size: cover
.icon-add
  width: 10px
  height: 12px
  display: inline-block
  background: url('~images/icon_add.png')
  -webkit-background-size: cover
  background-size: cover
.icon-reduce
  width: 12px
  height: 2px
  display: inline-block
  background: url('~images/icon_reduce.png')
  -webkit-background-size: cover
  background-size: cover
.icon-reduce-disabled
  width: 12px
  height: 2px
  display: inline-block
  background: url('~images/icon_reduce_disabled.png')
  -webkit-background-size: cover
  background-size: cover
.icon-cart
  width: 20px
  height: 18px
  display: inline-block
  background: url('~images/icon_cart.png')
  -webkit-background-size: cover
  background-size: cover
.icon-order-detail
  width: 49px
  height: 41px
  display: inline-block
  background: url('~images/icon_order_detail.png')
  -webkit-background-size: cover
  background-size: cover
.icon-vip
  width: 19px
  height: 16px
  display: inline-block
  background: url('~images/icon_vip.png')
  -webkit-background-size: cover
  background-size: cover
//订阅 礼物按钮
.begin-sub
  width:67%
  float: left
.gift
  width:30%
  float: right
.ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


